<%- include('header.ejs', { pageTitle: 'Show user page' }) %>
    <div class="table-container">
        <div id="title-table-user">
            List Users
        </div>
        <table id="table-user">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Action</th>
            </tr>
            <% for(var i=0; i < listUsers.length; i++) { %>
                <tr>
                    <td>
                        <%= listUsers[i].id %>
                    </td>
                    <td>
                        <%= listUsers[i].email %>
                    </td>
                    <td>
                        <%= listUsers[i].name %>
                    </td>
                    <td>
                        <%= listUsers[i].city %>
                    </td>
                    <td>
                        <a href="/edit-user/<%= listUsers[i].id %>" class="link">
                            <button class="edit-btn">Edit</button>
                        </a>
                        <a href="/edit-user" class="link">
                            <button class="delete-btn">Delete</button>
                        </a>
                    </td>
                </tr>
                <% } %>
        </table>

    </div>
    <%- include('footer.ejs') %>